<template>
  <div>
      <v-text-field v-model="value" :label="label" ></v-text-field>
  </div>
</template>

<script>
  export default {
    name: "daData",
    props: {
      model: {
        required: true
      },
      label: String
    },
    data() {
      return {
        response: [],
        value: ''
      }
    },
    watch: {
      value() {
        this.$emit('update:model', this.value);
        this.getData(this.value);
      }
    },
    
    methods: {
      getData(query) {
        this.$http.post('https://dadata.ru/api/v2/suggest/party', {"query": query}).then(response => {
          this.response = [];
          this.response.push(...response.body.suggestions);
        }, err => {
          console.log(err);
        });
      }
    },
    mounted() {
      this.value = this.model;
    },
  }
</script>

<style>
  
</style>
