<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout row wrap class="pos-a">
      <componentsTitle>{{ stepTitle }}</componentsTitle>
      <v-flex md12 xs12 xs12>
        <v-card>
          <v-card-text>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field @keyup.native="getData(name)" @focus="active = 'name'" v-model="name" label="Наименование вашей огранизации"></v-text-field>
                <div v-if="active == 'name'" class="result-wrap">
                  <div class="result" v-for="(item, i) in response" :key="i" @click="updateData(i)">
                    <div>{{ item.value }}</div>
                    <div class="result-wrap__inner">
                      <span>ИНН: {{ item.data.inn }}</span>
                      <span>Адрес: {{ item.data.address.value }}</span>
                    </div>
                  </div>
                </div>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field @keyup.native="getData(ogrn)" @focus="active = 'ogrn'" v-model="ogrn" label="ОГРН"></v-text-field>
                <div v-if="active == 'ogrn'" class="result-wrap">
                  <div class="result" v-for="(item, i) in response" :key="i" @click="updateData(i)">
                    <div>{{ item.value }}</div>
                    <div class="result-wrap__inner">
                      <span>ИНН: {{ item.data.inn }}</span>
                      <span>Адрес: {{ item.data.address.value }}</span>
                    </div>
                  </div>
                </div>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field @keyup.native="getData(inn)" @focus="active = 'inn'" v-model="inn" label="ИНН"></v-text-field>
                <div v-if="active == 'inn'" class="result-wrap">
                  <div class="result" v-for="(item, i) in response" :key="i" @click="updateData(i)">
                    <div>{{ item.value }}</div>
                    <div class="result-wrap__inner">
                      <span>ИНН: {{ item.data.inn }}</span>
                      <span>Адрес: {{ item.data.address.value }}</span>
                    </div>
                  </div>
                </div>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field @keyup.native="getData(city)" @focus="active = 'city'" v-model="city" label="Адрес"></v-text-field>
                <div v-if="active == 'city'" class="result-wrap">
                  <div class="result" v-for="(item, i) in response" :key="i" @click="updateData(i)">
                    <div>{{ item.value }}</div>
                    <div class="result-wrap__inner">
                      <span>ИНН: {{ item.data.inn }}</span>
                      <span>Адрес: {{ item.data.address.value }}</span>
                    </div>
                  </div>
                </div>
              </v-flex>
            </v-layout> 
          </v-card-text>
          <div class="text-md-right pb-1">
            <v-btn primary light @click.native="saveData('details', $data), steps('delivery', 'details', stepTitle)">Продолжить</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </transition>
</template>

<script>
  import componentsTitle from '../title.vue';
  import saveData from '../../mixins/saveData';
  import activeItem from '../../mixins/activeItem';
  export default {
    name: 'details',
    components: {
      componentsTitle
    },
    mixins: [saveData, activeItem],
    data() {
      return {
        stepTitle: 'Реквизиты огранизации',
        response: [],
        active: '',
        name: '',
        ogrn: '',
        inn: '',
        city: ''
      }
    },
    methods: {
      updateData(i) {
        this.name = this.response[i].value;
        this.ogrn = this.response[i].data.ogrn;
        this.inn = this.response[i].data.inn;
        this.city = this.response[i].data.address.value;
        return this.response = [];
      },
      getData(query) {
        this.$http.post('https://dadata.ru/api/v2/suggest/party', {"query": query}).then(response => {
          this.response = [];
          this.response.push(...response.body.suggestions);
          return;
        }, err => {
          console.log(err);
        });
      },
      activeField(name) {
        this.active = name;
      }
    }
  }
</script>

<style>
  .result-wrap{
    position: relative;
    top: -20px;
  }
  .result{
    padding: 5px 0;
    cursor: pointer;
  }
  .result-wrap__inner {
    color: #8a8787;
  }
</style>
