<template>
  <v-flex mb-4 xs12 md4 @click="steps(data.next_step, 'service', stepName, checkChangeData('service', data.name)), changeItem(data.name, 'service'), saveData('showDetails', data.showDetails)">
    <v-card hover :class="{ active: this.$store.state.sesion_info.service == data.name }" style="padding-top: 10px;">
      <v-card-row :img="data.url" height="230px" class="img__center"></v-card-row>
      <v-card-row class="indigo">
        <v-card-title>
          <span class="white--text center--text">{{ data.name }}</span>
        </v-card-title>
      </v-card-row>
    </v-card>
    <v-btn class="indigo" block primary light>Выбрать
      <v-icon v-if="this.$store.state.sesion_info.service == data.name" light right>check_circle</v-icon>
    </v-btn>
    <v-snackbar v-model="snackbar" right multiLine success :timeout="1000">{{ text }}</v-snackbar>
  </v-flex>
</template>

<script>
  import activeItem from '../../mixins/activeItem';
  import saveData from '../../mixins/saveData';
  import toast from '../../mixins/toast';
	export default {
		props: ['data', 'stepName'],
    name: 'serviceItem',
    mixins: [activeItem, toast, saveData]
	}
</script>

<style>
  .active{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
  }
  .img__center{
    margin: 0 10px 10px 10px;
    background-size: contain !important;
  }
</style>


