<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeftBig">
    <v-layout row wrap class="pos-a">
      <componentsTitle>{{ stepTitle }}</componentsTitle>
       <serviceItem v-for="(service, i) in services" :key="i" :stepName="stepTitle" :data="service"></serviceItem>  
    </v-layout>
  </transition>
</template>

<script>
  import serviceItem from './serviceItem.vue';
  import componentsTitle from '../title.vue';
  import activeItem from '../../mixins/activeItem';
	export default {
		name: 'serviceList',
		data () {
			return {
				stepTitle: 'Выберите тип услуги',
				services: [],
			}
		},
    components: {
      serviceItem,
      componentsTitle
    },
    created() {
      this.services = this.$store.state.data.services;
    },
    mixins: [activeItem]
	};
</script>

<style lang="css" scoped>
  
</style>