<template>
  <v-flex @click="steps(data.next_step, 'prints_type', stepName, checkChangeData('prints_type', data.name)), changeItem(data.name, 'prints_type')" mb-4 md6>
    <v-card hover :class="{ active : this.$store.state.sesion_info.print_type == data.name }">
      <v-card-row class="indigo">
        <v-card-title class="justify-space-between">
          <span class="white--text">{{ data.name }}</span>
          <v-icon v-if="this.$store.state.sesion_info.prints_type == data.name" light medium right >check_circle</v-icon>
        </v-card-title>
      </v-card-row>
      <v-card-row>
        <v-card-text>{{ data.desc }}</v-card-text>
      </v-card-row>
    </v-card>
    <v-snackbar v-model="snackbar" right multiLine success :timeout="1000">{{ text }}</v-snackbar>
  </v-flex>
</template>

<script>
  import toast from '../../mixins/toast';
  import activeItem from '../../mixins/activeItem';
  export default {
    props: ['data', 'stepName'],
    name: 'printTypeItem',
    data() {
        return {

        }
    },
    mixins: [toast, activeItem]
  }
</script>

<style>
  .justify-space-between{
    justify-content: space-between;
  }
</style>
