<template>
	<transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
		<v-layout row wrap class="pos-a">
			<componentsTitle>{{ stepTitle }}</componentsTitle>
			<printTypeItem v-for="printType in printsType" :key="printType.name" :stepName="stepTitle" :data="printType"></printTypeItem>
		</v-layout>
	</transition>	
</template>

<script>
	import printTypeItem from './printTypeItem.vue';
	import componentsTitle from '../title.vue';
	import activeItem from '../../mixins/activeItem';
	import data from '../../mixins/getComponentData';

	export default {
		name: "printTypeList",
		data() {
			return {
				stepTitle: 'Выберите тип печати',
				selectedPrintType: '',
				printsType: []
			}
		},
		components: {
			componentsTitle,
			printTypeItem,
		},
		created() {
			this.getComponentData(this.prevStep);
			this.printsType = this.$store.state.sesion_data.prints_type;
		},
		mixins: [activeItem, data]
	}
</script>