<template>
  <v-flex md4 xs12 mb-4>
    <v-card hover raised style="padding-top: 10px;" @click="changeItem(data.name, 'snap', data.price)">
      <v-card-row height="300px" :img="data.url" class="img__center"></v-card-row>
      <v-card class="indigo">
        <v-card-title>
          <span class="white--text">{{ data.name }}</span>
        </v-card-title>
      </v-card>
    </v-card>
    <v-card class="indigo">
      <div class="price__wrap">
        <div class="price__title">Цена:</div>
        <div class="price__value">{{ data.price }} ₽</div>
      </div>
      <div class="colors white--text">
        <div class="colors__title">Цвет:</div>
        <div class="colors__wrap" >
          <div class="color__item" @click="changeColor(color.url), changeItem(color.value, 'color')" v-for="(color, i) in data.colors" :key="i">
            <span class="color__value" :style="{ backgroundColor: color.value }"></span>
          </div>
        </div>
      </div>
      <v-expansion-panel class="white--text">
        <v-expansion-panel-content>
          <div slot="header">Описание</div>
            <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
          <v-card>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-card>
    <v-btn @click.native="changeItem(data.name, 'snap', data.price)" class="indigo" block primary light >Выбрать
      <v-icon v-if="this.$store.state.sesion_info.snap == data.name" light right>check_circle</v-icon>
    </v-btn>

  </v-flex>
</template>

<script>
  import toast from '../../mixins/toast';
  import activeItem from '../../mixins/activeItem';
  export default {
    name: 'snapItem',
    props: ['data', 'stepName'],
    mixins: [toast, activeItem],
    methods: {
      changeColor(url) {
        this.data.url = url;
      }
    }
  }
</script>

<style>
  .colors{
    justify-content: space-between;
    padding: 10px 16px;
    display: flex;
    font-size: 16px;
  }
  .colors__wrap{
    display: flex;
    justify-content: space-between;
  }
  .color__item{
    cursor: pointer;
  }
  .color__value{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    margin-left: 10px;
    /*padding: 5px;*/
  }
</style>
