<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout row wrap class="pos-a">
      <componentsTitle :price="this.$store.getters.countPrice">{{ stepTitle }}</componentsTitle>
      <snapItem v-for="(snap, i) in snaps" :key="i" :data="snap"></snapItem>
      <v-flex md12 mt-4>
        <div class="sticky--btn text-md-right pb-1">
          <v-btn primary light @click.native="steps(nextStep, 'snap'), changeItem('Без оснастки', 'snap', 0)">Продолжить без выбора оснастки</v-btn>
          <v-btn v-if="this.$store.state.sesion_info.snap != undefined" primary light @click.native="steps(nextStep, 'snap', stepTitle)">Продолжить</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </transition>
</template>

<script>
  import snapItem from './snapItem.vue';
  import componentsTitle from '../title.vue';
  import activeItem from '../../mixins/activeItem';  
  import data from '../../mixins/getComponentData';

  export default {
    name: 'printList',
    components: {
      componentsTitle,
      snapItem
    },
    data() {
      return {
        stepTitle: 'Выберите оснастку',
        snaps: []
      }
    },
    computed: {
      nextStep() {
        if(this.$store.state.sesion_info.showDetails == true){
          return 'details';
        } else {
          return 'contacts';          
        }
      }
    },
    created() {
			this.getComponentData(this.prevStep);
			this.snaps = this.$store.state.sesion_data.snap;
    },
    mixins: [activeItem, data]
  }
</script>

<style>

</style>
