<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout wrap class="pos-a">
      <componentsTitle>{{ stepTitle }}</componentsTitle>
      <typeOrganization v-for="typeOrganization in typeOrganizations" :key="typeOrganization.name" :stepName="stepTitle" :data="typeOrganization"></typeOrganization>
    </v-layout>
  </transition>
</template>

<script>
  import typeOrganization from './typeOrganization.vue';
  import componentsTitle from '../title.vue';
  import activeItem from '../../mixins/activeItem.js';
  import data from '../../mixins/getComponentData.js';
  export default {
    name: 'typeOrganizations',
    components: {
      typeOrganization, 
      componentsTitle
    },
    data() {
      return {
        stepTitle: 'Выберите тип организации',
        typeOrganizations: []
      }
    },
    created() {
      this.getComponentData(this.prevStep);
      this.typeOrganizations = this.$store.state.sesion_data.type_organization;
    },
    mixins: [activeItem, data]
  }
</script>