<template>
  <v-flex mb-4 md6 @click="steps(data.next_step, 'type_organization', stepName, checkChangeData('type_organization', data.name)), changeItem(data.name, 'type_organization')">
    <v-card hover :class="{ active : this.$store.state.sesion_info.type_organization == data.name }">
      <v-card-row class="indigo">
        <v-card-title class="justify-space-between">
          <span class="white--text">{{ data.name }}</span>
          <v-icon v-if="this.$store.state.sesion_info.type_organization == data.name" light medium right >check_circle</v-icon>
        </v-card-title>
      </v-card-row>
      <v-card-row>
        <v-card-text>{{ data.desc }}</v-card-text>
      </v-card-row>
    </v-card>
    <v-snackbar v-model="snackbar" right multiLine success :timeout="1000">{{ text }}</v-snackbar>
  </v-flex>
</template>

<script>
  import toast from '../../mixins/toast';
  import activeItem from '../../mixins/activeItem';
  export default {
    name: 'typeOrganization',
    props: ['data', 'stepName'],
    mixins: [toast, activeItem]
  }
</script>