<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout row wrap>
      <componentsTitle>Подтверждение данных</componentsTitle>
        <!-- <v-subheader>Данные о печати</v-subheader> -->
        <v-flex md12 xs12>
          <v-text-field v-if="data.service" label="Тип услуги" :value="data.service" disabled></v-text-field>
          <v-text-field v-if="data.print_type" label="Тип печати" :value="data.print_type" disabled></v-text-field>
          <v-text-field v-if="data.type_organization" label="Тип организации" :value="data.type_organization" disabled></v-text-field>
          <v-text-field v-if="data.print_list" label="Макет" :value="data.print_list" disabled></v-text-field>
          <v-text-field v-if="data.snap" label="Оснастка" :value="data.snap" disabled></v-text-field>
          <v-text-field v-if="data.color" label="Цвет оснастки" :value="data.color" disabled></v-text-field>
          <v-text-field v-if="this.$store.getters.countPrice" label="Cтоимость заказа" :value="this.$store.getters.countPrice +' ₽'" disabled></v-text-field>
        </v-flex>
        <v-flex md12 xs12 v-if="data.details" style="margin-top: -30px;">            
          <v-subheader>Информация о организации</v-subheader>
          <v-text-field v-if="data.details.name" label="Название организации" :value="data.details.name" disabled></v-text-field>
          <v-text-field v-if="data.details.city" label="Город" :value="data.details.city" disabled></v-text-field>
          <v-text-field v-if="data.details.inn" label="ИНН" :value="data.details.inn" disabled></v-text-field>
          <v-text-field v-if="data.details.ogrn" label="ОГРН" :value="data.details.ogrn" disabled></v-text-field>
        </v-flex>
        <v-flex md12 xs12 style="margin-top: -30px;">            
          <v-subheader>Информация о доставке</v-subheader>
          <v-text-field v-if="data.delivery.name" label="Имя" :value="data.delivery.name" disabled></v-text-field>
          <v-text-field v-if="data.delivery.city" label="Город" :value="data.delivery.city" disabled></v-text-field>
          <v-text-field v-if="data.delivery.address" label="Адрес" :value="data.delivery.address" disabled></v-text-field>
          <v-text-field v-if="data.delivery.phone" label="Телефон" :value="data.delivery.phone" disabled></v-text-field>
          <v-text-field v-if="data.delivery.delivery_type" label="Тип доставки" :value="data.delivery.delivery_type" disabled></v-text-field>
        </v-flex>
        <div class="text-md-right pb-1 flex md12">
          <v-btn primary light @click.native="sendData(data)">Офрмить заказ</v-btn>
        </div>
      </v-layout>
    </v-layout>
  </transition>
</template>

<script>
  import componentsTitle from '../title.vue';
  export default {
    name: "ValidationData",
    components: {
      componentsTitle
    },
    data() {
      return {
        data: []
      }
    },
    created() {
      this.$data.data = this.$store.state.sesion_info;
    },
    methods: {
      sendData(data) {
        this.$http.post('http://dev.itscrm.ru/crm/order/api', {foo: "bar"}).then(response => {
          console.log(response);
        }, err => {
          console.log(err);
        });
      }
    }
  }
</script>

<style>
  
</style>
  