<template>
  <v-flex mb-2>
    <v-stepper>
      <v-stepper-header>
        <v-stepper-step :step="index + 1" @click.native="changeCurrentStep(item, index)" complete editable v-for="(item, index) in this.$store.getters.steps" :key="index">{{ item.stepName.replace('Выберите', 'Изменить') }}</v-stepper-step> 
      </v-stepper-header>
    </v-stepper>
  </v-flex>
</template>

<script>
  import steps from '../mixins/activeItem';
  export default {
    name: 'Steps',
    mixins: [steps],
    methods: {
      changeCurrentStep(item, i) {
        let {currentStep, prevStep, stepName} = this.$store.state.sesion_info.steps[i];
        let action = 'changeStep';
        this.$store.dispatch('changeStep', {
          currentStep, prevStep, stepName, action
        });
      }
    }
  }
</script>

<style>
  .stepper__header{
    justify-content: flex-start;
  }
</style>
