<template>
  <v-flex md12 xs12 mb-4>
    <v-card class="indigo darken-1">
      <v-card-title class="white--text" style="justify-content: space-between"><slot></slot><div v-if="price">стоимость заказа: {{ price }} ₽</div></v-card-title>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    name: 'title',
    props: ['price']
  }
</script>

<style>

</style>
