<template>
  <vue-clip :options="options" :on-complete="complete" class="flex jcc upload-wrap" :on-added-file="addFile">
    <template slot="clip-uploader-action">
      <div v-show="files < 1" class="image-upload-wrap">
        <div class="drag-text dz-message">
          <h3>Загрузите ваш макет</h3>
        </div>
      </div>
    </template>
    <template class="file-upload-content" :on-removed-file="removedFile" slot="clip-uploader-body" scope="props">
      <v-layout>
        <v-flex md12 v-for="(file, index) in files" :key="file.name" class="text-xs-center">
          <img lass="file-upload-image" :src="file.dataUrl">
          <div class="image-title-wrap">
            <button type="button" @click="removedFile(index)" class="remove-image">Удалить: <span class="image-title">{{ file.name }}</span></button>
          </div>
          <div class="text-md-right pb-1">
            <v-btn primary light @click.native="steps('snap', 'print_list'), changeItem('Свой макет', print_list)">Продолжить</v-btn>
          </div>
        </v-flex>
      </v-layout>
    </template>
  </vue-clip>
</template>

<script>
  import componentsTitle from '../title.vue';
  import activeItem from '../../mixins/activeItem';
  export default {
    data () {
      return {
        files: [],
        options: {
          url: 'http://stamp-master.su/wp-admin/admin-ajax.php?action=uploadImage',
          paramName: 'file',
          acceptedFiles: {
            extensions: ['image/*'],
            message: 'You are uploading an invalid file'
          }
        }
      }
    },
    mixins: [activeItem],
    methods: {
      addFile(file) {
        this.files.push(file);
      },
      removedFile(index) {
        this.files.splice(index, 1)
      },
      complete (file, status, xhr) {
        let to = 'imageUrl';
        let data = xhr.response;
        // Adding server id to be used for deleting
        // the file.
        // file.addAttribute('id', xhr.response.id)
        // console.log(status);
        this.$store.dispatch('saveData', {
          data, to
        });
      }
    }
  }
</script>

<style>
  .upload-wrap{
    width: 100%;
    flex-wrap: wrap;
    width: 100%;
  }
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .upload-btn{
    width: 100%;
  }

  .jcc{
    justify-content: center;
  }

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
    margin: 20px 0;
    border: 4px dashed #1FB264;
    position: relative;
  }

  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  .image-upload-wrap:hover .drag-text h3{
    color: #fff;
  }
  .image-title-wrap {
    margin: 0 auto;
    width: 300px;
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    margin-bottom: 0;
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }

  .remove-image {
    margin: 10px 0 0 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }

  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
</style>
