<template>
  <v-flex md4 mb-4 xs12 @click="changeItem(data.name, 'print_list', data.price)">
    <v-card hover raised :class="{ active: this.$store.state.sesion_info.print_list == data.name }" style="padding-top: 10px;">
      <v-card-row height="300px" :img="data.url" class="img__center"></v-card-row>
      <v-card class="indigo">
        <v-card-title>
          <span class="white--text">{{ data.name }}</span>
        </v-card-title>
        <div class="price__wrap" >
          <div class="price__title">Цена:</div>
          <div class="price__value">{{ data.price }} ₽</div>
        </div>
      </v-card>
      <v-btn class="indigo" block primary light >Выбрать
        <v-icon v-if="this.$store.state.sesion_info.print_list == data.name" light right>check_circle</v-icon>
      </v-btn>
    </v-card>
  </v-flex>
</template>

<script>
  import toast from '../../mixins/toast';
  import activeItem from '../../mixins/activeItem';
  export default {
    name: 'printItem',
    props: ['data', 'stepName'],
    mixins: [toast, activeItem]
  }
</script>

<style>
  .price__wrap{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
  }
</style>
