<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout row wrap class="pos-a">
      <template v-if="prints.length > 0">
        <componentsTitle :price="this.$store.getters.countPrice">{{ stepTitle }}</componentsTitle>
        <printItem v-for="print in prints" :key="print.name" :data="print"></printItem>
      </template>
      <v-flex v-if="this.$store.state.sesion_info.print_list != undefined" md12 class="sticky--btn text-md-right pb-1">
        <v-btn class="green darken-3" primary light @click.native="steps('snap', 'print_list', stepTitle)">Продолжить</v-btn>
      </v-flex>
      <template>
        <componentsTitle>Загрузите ваш макет</componentsTitle>
        <attachFile>{{ stepTitle }}</attachFile>
      </template>
    </v-layout>
  </transition>
</template>

<script>
  import printItem from './printItem.vue';
  import attachFile from './attachFile.vue';
  import componentsTitle from '../title.vue';
  import activeItem from '../../mixins/activeItem';  
  import data from '../../mixins/getComponentData';

  export default {
    name: 'printList',
    components: {
      componentsTitle,
      printItem,
      attachFile
    },
    data() {
      return {
        stepTitle: 'Выберите макет',
        prints: []
      }
    },
    created() {
			this.getComponentData(this.prevStep);
			this.prints = this.$store.state.sesion_data.print;
    },
    mixins: [activeItem, data]
  }
</script>

<style>
  .card__title{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  }
  .sticky--btn{
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
</style>
