<template>
  <div id="app">
     <steps></steps> 
    <!-- <v-btn success light @click.native="steps('services')">Услуги</v-btn>
    <v-btn success light @click.native="steps('prints_type', 'services')">Типы печатей</v-btn>
    <v-btn success light @click.native="steps('type_organization', 'prints_type')">Типы организаций</v-btn>
    <v-btn success light @click.native="steps('print', 'type_organization')">Печати</v-btn>
    <v-btn success light @click.native="steps('snap', 'print')">Оснастки</v-btn>
    <v-btn success light @click.native="steps('details', 'snap')">Реквизиты</v-btn>
    <v-btn success light @click.native="steps('delivery', 'details')">Доставка</v-btn>
    <v-btn success light @click.native="steps('validation', 'delivery')">Проверка данных</v-btn> -->
    <div v-if="loader" class="loader"><v-progress-circular indeterminate :size="100" class="primary--text"></v-progress-circular></div>
    <serviceList v-if="currentStep == 'services'"></serviceList>
    <printTypeList v-if="currentStep == 'prints_type'"></printTypeList>
    <typeOrganizations v-if="currentStep == 'type_organization'"></typeOrganizations>
    <printList v-if="currentStep == 'print'"></printList>
    <snapsList v-if="currentStep == 'snap'"></snapsList>
    <requisite v-if="currentStep == 'details'"></requisite>
    <contacts v-if="currentStep == 'delivery'"></contacts>
    <validation v-if="currentStep == 'validation'"></validation>
  </div>
</template>

<script>
  import serviceList from './components/services/serviceList.vue';
  import printTypeList from './components/prints-type/printTypeList.vue';
  import typeOrganizations from './components/organizations/typeOrganizations.vue';
  import printList from './components/prints/printList.vue';
  import snapsList from './components/snaps/snapsList.vue';
  import requisite from './components/details/details.vue';
  import contacts from './components/contacts/contacts.vue';
  import validation from './components/validation/validation.vue';
  import steps from './components/steps.vue';
  import activeItem from './mixins/activeItem';
  export default {
    name: 'appWrap',
    data() {
      return {
        loader: true,
        active_step: ''
      }
    },
    components: {
      serviceList,
      printTypeList,
      typeOrganizations,
      printList,
      snapsList,
      requisite,
      contacts,
      validation,
      steps
    },
    mixins: [activeItem],
    beforeCreate() {
			this.$http.get('json.json').then(response => {
				this.$store.dispatch('getData', response.body);
			}, 
			response => {

			});
		},
    mounted() {
      setTimeout(() => {
        this.loader = false;
        if(this.getUrlVars()['step']) {
          this.changeItem(decodeURIComponent(this.getUrlVars()['step']), 'service')
          this.steps('prints_type', 'service');
          return false;
        }
        this.steps('services');
      }, 1000)
    },
    methods: {
      switchingStep(step) {
        this.steps('services');        
      },
      getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }
    }
}
</script>

<style>
  @import "../node_modules/vuetify/dist/vuetify.min.css";
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  /* .pos-a{
    position: absolute;
  }  */
</style>

