<template>
  <transition name="custom-classes-transition" enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
    <v-layout row wrap class="pos-a">      
      <componentsTitle>{{ stepTitle }}</componentsTitle>
      <v-flex md12 xs12>
        <v-card>
          <v-card-text>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field v-model="name" label="Имя"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field v-model="phone" label="Телефон"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field v-model="city" label="Город"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row>
              <v-flex md12 xs12>
                <v-text-field v-model="address" label="Адрес"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-subheader class="flex md12 xs12">Выберите тип доставки</v-subheader>
              <v-flex md6 xs12>
                 <v-radio v-for="(item, i) in this.$store.state.data.deliveryPoint" :key="i" :label="item" v-model="delivery_type" :value="item" success dark hide-details></v-radio> 
              </v-flex>
              <v-flex md6 xs12>
                <v-radio label="Курьерская доставка" v-model="delivery_type" value="Курьерская доставка" success dark hide-details></v-radio>
              </v-flex>
            </v-layout>
          </v-card-text>
          <div class="text-md-right pb-1">
            <v-btn primary light @click.native="saveData('delivery', $data), steps('validation', 'contacts', stepTitle)">Продолжить</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </transition>
</template>

<script>
  import componentsTitle from '../title.vue';
  import saveData from '../../mixins/saveData';
  import activeItem from '../../mixins/activeItem';  

  export default {
    name: 'Delivery',
    components: {
      componentsTitle
    },
    mixins: [saveData, activeItem],
    data() {
      return {
        deliveryPoint: [],
        stepTitle: 'Доставка',
        delivery_type: 'Самовывоз с точки',
        name: '',
        phone: '',
        city: '',
        address: ''
      }
    } 
  }
</script>

<style>

</style>
